* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: "Familjen Grotesk", Arial, serif, sans-serif;
}

header {
    position: sticky;
    top: -1px;
    z-index: 3;
}

.navbar a {
    color: #FF7733;
}

.navbar a:hover {
    color: #F85A3E;
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    overflow: hidden;
    padding: 0.9rem;
    width: 100%;
    height: 10vh;
    font-size: 1.6rem;
    background-color: #6E3739;
}

.navbar-right {
    display: flex;
}

.navbar-right a {
    margin-left: 1rem;
    margin-right: 1rem;
}

main {
    padding-bottom: 10rem;
}

body {
    height: 100%;
    background-color: #092327;
}

p {
    font-size: 1.1rem;
    color: #9DA9A0;
}

a {
    text-decoration: none;
}

h1,
h2 {
    color: #9DA9A0;
}

h2 {
    margin-top: 2rem;
    font-size: 2rem;
}

.footer-container {
    position: relative;
    min-height: 100%;
}

footer {
    position: absolute;
    text-align: center;
    height: fit-content;
    margin-top: 15rem;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 0.5rem 0;
    background-color: #6E3739;
}

footer p {
    padding-top: 0.2rem;
    color: #9DA9A0;
}

footer a:link {
    color: #FF7733;
}

footer a:visited {
    color: #FF7733;
}

footer a:hover {
    color: #F85A3E;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100%;
    background-image: url("../media/crash_resident_awakening_remake_banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-title {
    text-align: center;
    font-size: 4rem;
    color: #FF7733;
    background-color: #6e373948;
}

.hero-button {
    font-size: 1.5rem;
    height: 2.9rem;
    padding: 0 0.9rem;
    border: 1px solid #092327;
    border-radius: 0.625rem;
    color: #FF7733;
    background-color: #6E3739;
}

.hero-button:hover {
    color: #242524;
    background-color: #a63622;
    cursor: pointer;
}

.hero-button:active {
    color: #9DA9A0;
    background-color: #092327;
}

#scroll-title {
    position: relative;
    top: 1px;
}

.hero-slider-container {
    display: flex;
    width: 80vw;
    height: calc(80vw * 9/16);
}

.hero-slider-container > div {
    overflow: hidden;
    flex-basis: 50%;
    height: 100%;
}

.hero-slider-container div img {
    width: auto;
    height: 100%;
}

.hero-slider-right img {
    position: relative;
    left: -100%;
}

.hero-slider {
    position: relative;
    width: fit-content;
}

.slider {
    position: absolute;
    cursor: ew-resize;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0;
}

.central {
    display: flex;
    flex-direction: column;
    margin: 1rem 5rem;
}

.central-text {
    margin: 1.2rem 0;
}

.central-image {
    height: 40rem;
    width: 95rem;
    max-width: 100%;
}

.central-button {
    width: fit-content;
}

.central-carousel-second,
.central-carousel-fourth {
    display: none;
}

.central-carousel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.central-carousel-container button {
    width: fit-content;
    height: auto;
    font-size: 1.5rem;
    padding: 0 0.3rem 0.3rem 0.3rem;
    margin-top: 1.5rem;
    border: 1px solid #092327;
    border-radius: 0.625rem;
    color: #FF7733;
    background-color: #6E3739;
}

.central-carousel-container button:hover {
    color: #7a847c;
    background-color: #a63622;
    cursor: pointer;
}

.central-carousel-container button:active {
    color: #FF7733;
    background-color: #9e4a20;
}

form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 2em;
}

label {
    font-size: 1.1rem;
    color: #9DA9A0;
}

#email {
    width: 14rem;
}

form button {
    font-size: 1.5rem;
    height: auto;
    padding: 0 0.3rem 0.3rem 0.3rem;
    margin-top: 1.5rem;
    border: 1px solid #092327;
    border-radius: 0.625rem;
    color: #FF7733;
    background-color: #6E3739;
}

form button:hover {
    color: #242524;
    background-color: #a63622;
    cursor: pointer;
}

#poll-results {
    font-size: 1.1rem;
    color: #9DA9A0;
}
