* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: "Familjen Grotesk", Arial, serif, sans-serif;
}

header {
    position: sticky;
    top: 0;
}

.navbar a {
    color: #FF7733;
}

.navbar a:hover {
    color: #F85A3E;
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    overflow: hidden;
    padding: 0.9rem;
    width: 100%;
    height: 10vh;
    font-size: 1.6rem;
    background-color: #6E3739;
}

.navbar-right {
    display: flex;
}

.navbar-right a {
    margin-left: 1rem;
    margin-right: 1rem;
}

main {
    padding-bottom: 10rem;
}

body {
    height: 100%;
    background-color: #092327;
}

p {
    font-size: 1.1rem;
    color: #9DA9A0;
}

a {
    text-decoration: none;
}

h1,
h2 {
    color: #9DA9A0;
}

h2 {
    margin-top: 2rem;
    font-size: 2rem;
}

.footer-container {
    position: relative;
    min-height: 100%;
}

footer {
    position: absolute;
    text-align: center;
    height: fit-content;
    margin-top: 15rem;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 0.5rem 0;
    background-color: #6E3739;
}

footer p {
    padding-top: 0.2rem;
    color: #9DA9A0;
}

footer a:link {
    color: #FF7733;
}

footer a:visited {
    color: #FF7733;
}

footer a:hover {
    color: #F85A3E;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("../media/crash_resident_awakening_remake_banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 90vh;
    width: 100%;
}

.hero-title {
    text-align: center;
    font-size: 4rem;
    color: #FF7733;
    background-color: #6e373948;
}

.hero-button {
    font-size: 1.5rem;
    height: 2.9rem;
    padding: 0 0.9rem;
    border: 1px solid #092327;
    border-radius: 0.625rem;
    color: #9DA9A0;
    background-color: #6E3739;
}

.hero-button:hover {
    color: #242524;
    background-color: #a63622;
    cursor: pointer;
}

.hero-button:active {
    color: #9DA9A0;
    background-color: #092327;
}

.hero-slider {
    display: flex;
    margin-top: 0.625rem;
    width: 63.4375rem;
    max-width: 100%;
    height: 43.75rem;
    background-color: transparent;
}

input[type="range"] {
    position: absolute;
    -webkit-appearance: none;
    appearance: none;
    width: inherit;
    max-width: 100%;
    padding: 0px;
    margin-top: 22.5rem;
    z-index: 100;
    background: transparent;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    cursor: grab;
    width: 1.1rem;
    max-width: 100%;
    height: 1.1rem;
    margin-top: -0.625rem;
    border-radius: 50%;
    background-color: white;
}

input[type="range"]::-webkit-slider-thumb:active {
    background-color: rgb(231, 227, 227);
    cursor: grabbing;
}

.hero-slider-foreground {
    position: absolute;
    width: 50rem;
    max-width: 100%;
    height: inherit;
    padding: 0;
    margin-left: 0.5313rem;
    z-index: 10;
    box-shadow: 0.3125rem 0 0.5625rem 0.0625rem #fffefe11;
    border-right: solid 0.0313rem rgba(255, 255, 255, 0.425);
    background-image: url("../media/links_awakening_cello_remake.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-slider-background {
    position: absolute;
    width: 50rem;
    max-width: 100%;
    height: inherit;
    margin-left: 0.5313rem;
    background-image: url("../media/links_awakening_cello_original.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.central {
    display: flex;
    flex-direction: column;
    margin: 1rem 5rem;
}

.central-text {
    margin: 1.2rem 0;
}

.central-image {
    height: 31.25rem;
    width: 31.25rem;
    max-width: 100%;
    border: 1px solid red;
}

.central-button {
    width: fit-content;
}
